@import '../../../../common/styles/variables';

.itemBox {
  width: 288px;
  height: 256px;
  padding: 20px 10px;
  margin: 20px 15px;
  
  border: solid 1px gray;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $buttonColorBackground2;
  text-transform: uppercase;

  @include screenWidth('small') {
    height: 230px;

  }
  @include screenWidth('mini') {
    width: 250px;
    margin: 20px 0;
   
  }

  .setCategory {
    font-size: 1.2em;
  }

  .setTitle {
    
    font-size: 2.8em;
    text-transform: capitalize;

  }

  .blockWithButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    

    .priceBox {
      font-size: 4.5em;
      @include screenWidth('mini') {
        font-size: 3.7em;
      }

      .logoPrice {
        position: relative;
        bottom: 20px;
       

        font-size: 0.5em;
      }

    }

    button {
      position: relative;
      top: 20px;
      width: 64px;
      height: 56px;
      border-radius: 14px;
      color: $buttonColorBackground1;
      background: $buttonColorBackground2;
      font-size: 1.2em;
      text-transform: uppercase;


      &:hover {
        background-color: $buttonColorBackground1;
        color: white;
      }
    }
  }

}

.styleModalItems {
  
  
  margin: 0;
  align-items: center;
  border: none;

  .setTitle {
    text-align: center;
  }

  @include screenWidth('mini') {
    height: 220px;
    
  }
}


