@import '../../../../common/styles/variables';

.itemBox {
  width: 288px;
  min-height: 256px;
  padding: 0 32px;
  margin-left: 2vw;
  margin-bottom: 4vw;
  border: solid 1px gray;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: $buttonColorBackground2;

  @media screen and (max-width: 500px) {
    width: 220px;

  }
  @media screen and (max-width: 350px) {
    width: 170px;
    padding-bottom: 10px;
  }

  .blockWithButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    font-size: 30px;

    .priceBox {
      font-size: 60px;
      @media screen and (max-width: 350px) {
        font-size: 40px;
      }

      .logoPrice {
        font-size: 30px;
        position: relative;
        bottom: 20px;
      }

    }

    button {
      position: relative;
      top: 20px;
      width: 64px;
      height: 56px;
      font-size: 16px;
      border-radius: 14px;
      color: $buttonColorBackground1;
      background: $buttonColorBackground2;
      text-transform: uppercase;


      &:hover {
        background-color: $buttonColorBackground1;
        color: white;
      }
    }
  }

}

.styleModalItems {
  height: 180px;
  margin: 0;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  border: none;
}


