@import '../../../../common/styles/variables.scss';
@import '../../../../common/styles/mixins.scss';

.itemBox {
  width: 288px;
  height: 256px;
  padding: 20px 10px;
  margin: 20px 15px;
  
  border: solid 1px $borderItemColor;
  border-radius: 24px;
  @include flexDisplay(column, space-between);
  background: $itemBackgroundColor;
  text-transform: uppercase;

  @include maxScreenWidth('small') {
    height: 230px;

  }
  @include maxScreenWidth('mini') {
    width: 250px;
    margin: 20px 0;
   
  }

  .setCategory {
    font-size: 1.2em;
  }

  .setTitle {
    font-size: 2.8em;
    text-transform: capitalize;

  }

  .blockWithButton {
    @include flexDisplay(row, space-between);
    align-content: flex-start;
    

    .priceBox {
      font-size: 4.5em;
      @include maxScreenWidth('mini') {
        font-size: 3.7em;
      }

      .logoPrice {
        position: relative;
        bottom: 20px;
        font-size: 0.5em;
      }

    }

    button {
      position: relative;
      top: 20px;
      width: 64px;
      height: 56px;
      border-radius: 14px;
      color: $buttonColor;
      background: $itemBackgroundColor;
      font-size: 1.2em;
      text-transform: uppercase;
      cursor: pointer;


      &:hover {
        background-color: $buttonBackgroundColorHover;
        color: $buttonColorHover;
      }
    }
  }

}

.styleModalItems {
  
  
  margin: 0;
  align-items: center;
  border: none;

  .setTitle {
    text-align: center;
  }

  @include maxScreenWidth('mini') {
    height: 220px;
    
  }
}


