@import '../../common/styles/mixins.scss';
@import '../../common/styles/variables.scss';

.app {
  width: 100wh;
  min-height: 100vh;
  @include flexDisplay(row, center);
  background-color: $sideFieldsColor;
}
