@use 'sass:map';
@import '../styles/variables.scss';


@mixin setContainer() {
  
}

@mixin flexDisplay($flexDirection, $justifyContent, 
                    $alignItems: center, ) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// seting elements for flex size of screen 
@mixin screenWidth($screenWidth) {
    @media (max-width: map.get($breakpoints, $screenWidth)) { 
      @content
    }
}

// seting the object in the center of the positional parent
@mixin setCenterForObject() {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid $errorColor;
    border-radius: 5px;
    color: $errorColor;
}