
$mainBackgroundColor: #dadada;
$sideFieldsColor: #f3f3f3;
$itemBackgroundColor: #fafafa;
$borderItemColor: #666666;
$buttonColor: #50DAA8;
$buttonColorHover: #fafafa;
$buttonBackgroundColorHover: $buttonColor;
$errorColor: #E43F3F;

$breakpoints: (
  strech: 1020px,
  small: 500px,
  mini: 350px,
)

