@import '../../../common/styles/variables.scss';
@import '../../../common/styles/mixins.scss';

.styleSnackbar {

    @include setCenterForObject();
    padding: 30px;
    top: 30%;
    font-size: 2em;
}