@import '../../../../common/styles/variables.scss';
@import '../../../../common/styles/mixins.scss';

.inputContainer {
  position: relative;

  .generalInput {
    width: 258px;
    height: 56px;
    padding: 0 15px;
    border: 1px solid $borderItemColor;
    outline: 3px solid $itemBackgroundColor;
    border-radius: 15px;
    background-color: $itemBackgroundColor;
    color: $borderItemColor;
    font-size: 1.2em;
    z-index: 10;

    @include maxScreenWidth('small') {
      width: 230px;
    }

    &:focus {
      background-color: $itemBackgroundColor;
    }
  }

  .errorInput {
    width: 258px;
    height: 56px;
    padding: 0 15px;
    border: 1px solid $itemBackgroundColor;
    outline: 3px solid $errorColor;
    border-radius: 15px;
    font-size: 1em;

    @include maxScreenWidth('small') {
      width: 230px;
    }
  }
  .textError {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: $errorColor;
  }
  .closeError {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 13px;
    top: 13px;
    border: 1px solid $errorColor;
    border-radius: 50%;
    background-color: $errorColor;
    color: white;
    font-size: 20px;
    text-align: center;
  }
}
