@import '../../../../common/styles/variables';

.inputContainer {
  position: relative;

  .generalInput {
    width: 258px;
    height: 56px;
    padding: 0 15px;
    border: 1px solid grey;
    outline: 3px solid white;
    border-radius: 15px;
    background-color: #ffffff;
    color: grey;
    font-size: 16px;
    z-index: 10;

    @include screenWidth('small') {
        width: 210px;
    }

    @include screenWidth('mini') {
        width: 170px;
    }
  }

  .errorInput {
    width: 258px;
    height: 56px;
    padding: 0 15px;
    border: 1px solid white;
    outline: 3px solid firebrick;
    border-radius: 15px;
    font-size: 16px;

    @include screenWidth('small') {
        width: 210px;
    }

    @include screenWidth(mini) {
        width: 170px;
    }
  }
  .textError {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: $errorColor;
  }
  .closeError {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 13px;
    top: 13px;
    border: 1px solid $errorColor;
    border-radius: 50%;
    background-color: $errorColor;
    color: white;
    font-size: 20px;
    text-align: center;
  }

}

