.superInput {
    margin-bottom: 2px;
    padding: 3px;
    border: 2px solid olive;
    border-radius: 5px;
    background: khaki;


}

.errorInput {
    border: 3px solid firebrick;
    border-radius: 5px;
    background: lightpink;
}

.error {
    display: inline-block;
    margin: 2px 0;
    padding: 0 5px;
    border: 1px dashed red;
    border-radius: 4px;
    color: red;
}