@import '../../../common/styles/variables.scss';
@import '../../../common/styles/mixins.scss';

.itemsViewContainer {
  width: 80%;
  @include flexDisplay(column);
  align-items: center;
  background: $mainBackgroundColor;

  @include maxScreenWidth('small') {
    width: 100%;
  }

  .itemsBlock {
    display: flex;
    @include flexDisplay(row, center);
    flex-wrap: wrap;
    padding-top: 70px;

    @include maxScreenWidth('small') {
      padding-top: 30px;
    }
  }

  .buttonContainer {
    width: 235px;
    height: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.4em;
    color: $buttonColor;
    border: solid 1px $borderItemColor;
    border-radius: 16px;
    background-color: $itemBackgroundColor;

    &:hover {
      background-color: $buttonBackgroundColorHover;
      color: $buttonColorHover;
    }

    &:disabled {
      background-color: $mainBackgroundColor;
      color: $itemBackgroundColor;
    }

  }

}



