@import '../../../common/styles/variables';

.itemsViewContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid grey;
  background: #F2F2F2;

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  .itemsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;

    @media screen and (max-width: 500px) {
      padding-top: 30px;
    }
  }
  .buttonContainer {
    width: 235px;
    height: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.4em;
    color: $buttonColorBackground1;
    border: solid 1px grey;
    border-radius: 16px;
    background-color: $buttonColorBackground2;

    &:hover {
      background-color: $buttonColorBackground1;
      color: $buttonColorBackground2;
    }

    &:disabled {
      background-color: #D3D3D3;
      color: #F2F2F2;
    }

  }

}



